<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        margin: auto;
    }

    * {
        border-radius: 0px !important;
    }

    h1 {
        color: #740808;
        font-weight: normal;
    }

    h2 {
        font-weight: normal;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
        background: none;
        margin-bottom: 2px;
    }

    .header-right {
        padding-top: 12px;
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    .question {
        background-color: #eee;
        color: #151569;
        min-height: 300px;
        text-align: center;
    }

    .option {
        background-color: #cadaee;
        font-size: 20px;
        padding: 10px;
        margin: 3px;
    }

    .option label {
        font-weight: normal;
    }

    #quiz .options input[type=checkbox] {
        background-color: #eee;
        border: 1px solid #ccc;
        height: 22px;
        width: 22px;
    }

    .quizNav {
        margin: auto;
        text-align: center;
    }

    .quizNav ul {
        margin: 0;
    }


    .quizNav ul li {
        display: inline-block;
        list-style-type: none;
    }

    div.review {
        text-align: center;
    }

    div.review>div {
        cursor: pointer;
    }

    .answered {
        background-color: #ccffcc;
        border: 1px solid #aaeeaa;
        margin: 2px 0;
        padding: 12px;
    }

    .not-answered {
        background-color: #ffcccc;
        border: 1px solid #eeaaaa;
        margin: 2px 0;
        padding: 12px;
    }

    .result-question {
        background-color: #eee;
        margin: 4px;
        padding: 6px;
    }


    /* Create Quiz Styles */
    .create-quiz .question {
        text-align: left;
    }

    .create-quiz input[type=text] {
        border: 1px solid #ddd;
        width: 95%;
    }

    .create-quiz .tb-quiz-name {
        background-color: #ccffcc;
        text-align: center;
    }

    .create-quiz .tb-desc {
        background-color: #fff;
    }

    .create-quiz .options>div {
        margin-left: 20px;
    }

    .create-quiz .options input[type=checkbox] {
        border: 1px solid #262626;
        display: inline-block;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
        width: 20px;
        -webkit-appearance: checkbox;
    }


    @media only screen and (max-width: 480px) {

        h1,
        .h1 {
            font-size: 22px;
        }

        h2,
        .h2 {
            font-size: 20px;
        }

        h3,
        .h3 {
            font-size: 18px;
        }

        .option {
            font-size: 16px;
            padding: 6px;
        }
    }
</style>

<!-- 

<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h3>Quiz Application</h3>
        </div>
        <div class="col-md-4 header-right">

            Select Quiz:
            <select id="quizList" ng-model="quizName" ng-change="loadQuiz(quizName)">
                <option value="data/aspnet.js">Asp.Net</option>
                <option value="data/csharp.js">C Sharp</option>
                <option value="data/designPatterns.js">Design Patterns</option>
            </select>
        </div>
    </div>
    <hr />
</div>
<div id="quiz">
    <div class="row">
        <div class="col-md-12">
            <h1 class="center">{{quiz.name}}</h1>
            <hr />
        </div>
    </div>

    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="row">
                <div class="col-md-12">
                    <h2>{{currentPage}}. <span ng-bind-html="question.Name"></span></h2>
                </div>
            </div>
            <div class="row text-left options">
                <div class="col-md-6" ng-repeat="option in question.Options">
                    <div class="option">
                        <label class="" for="{{option.Id}}">
                            <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected"
                                ng-change="onSelect(question, option);" />
                            {{option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(1);">First</button>
                <button class="btn btn-default" ng-show="config.allowBack"
                    ng-click="goTo(currentPage - 1);">Prev</button>
                <button class="btn btn-primary" ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(totalItems);">Last</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems"
                items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="row review" ng-show="mode=='review'">
        <div class="col-sm-4" ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">
                {{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h4>{{$index + 1}}. {{question.Name}}</h4>
                <div class="row">
                    <div class="col-md-6" ng-repeat="Option in question.Options">
                        <div>
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </div>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is
                    {{isCorrect(question)}}.</h4>
            </div>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
    <div class="" ng-show="mode!='result'">
        <button class="btn btn-default" ng-click="mode = 'quiz'">Quiz</button>
        <button class="btn btn-default" ng-click="mode = 'review'">Review</button>
        <button class="btn btn-default" ng-click="onSubmit();">Submit Quiz</button>
    </div>
</div> -->

<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h2>Create Quiz Application</h2>
        </div>
        <div class="col-md-4 header-right">
            <!-- In actual application, you may wish to load the quiz List using angular service. -->
            <select id="quizList" ng-model="quizName" ng-change="loadQuiz(quizName)">
                <option value="data/aspnet.js">Asp.Net</option>
                <option value="data/csharp.js">C Sharp</option>
                <option value="data/designPatterns.js">Design Patterns</option>
            </select>
        </div>
    </div>
    <hr />
</div>
<div id="createQuiz" class="create-quiz">
    <h1 class="center"><input class="tb-quiz-name" type="text" ng-model="quiz.name" title="Enter quiz name here" /></h1>
    <input class="tb-desc" type="text" ng-model="quiz.description" />
    <hr />
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="question">
                <h3>{{currentPage}}. <input type="text" ng-model="question.name" /></h3>
                <div class="options">
                    <div ng-repeat="option in question.options">
                        <input id="{{option.id}}" type="checkbox" ng-model="option.isAnswer" />
                        <input type="text" ng-model="option.name" />
                    </div>
                </div>
                <span class="label label-success btn" ng-click="question.options.push({});">Add Option</span>
                <div>                    
                    Note:
                    <ul>
                        <li>Blank option(s) will be ignored.</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <span class="label label-success btn" ng-click="pushQuestion();">Add Question</span>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-default" ng-click="goTo(1);">First</button>
                <button class="btn btn-default" ng-click="goTo(currentPage - 1);">Prev</button>
                <button class="btn btn-default" ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-click="goTo(totalItems);">Last</button>
            </div>
            <br />
            <pagination direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="review" ng-show="mode=='review'">
        <h2>Quiz Review</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h3>{{$index + 1}}. {{question.Name}}</h3>
                <div class="result-options">
                    <div ng-repeat="option in question.options">
                        <label ng-click="onSelect(option);" class="{{ (option.selected == option.isAnswer)? 'result-correct': 'result-incorrect' }}">
                            <input id="{{option.id}}" type="checkbox" disabled="disabled" readonly="readonly" ng-model="option.selected" />
                            {{option.name}}
                        </label>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
            </div>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
    <div class="" ng-show="mode!='result'">
        <button class="btn btn-default" ng-click="mode = 'quiz'">Quiz</button> 
        <button class="btn btn-default" ng-click="mode = 'review'">Review</button> 
        <button class="btn btn-default" ng-click="onSave();">Save Quiz</button>
    </div>
</div>